*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(253, 227, 255);
}











header{
    background-color: #9207ff;
    width: 100%;
    height: 300px;
    display: flex;
    padding: 20px;
    align-items: center;


    p{
        font-size: 1.9em;
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .logo img{
        width: 50em;
    }
    
}


























.bolos{
    margin: 100px;
    background-color: rgb(232, 166, 250);
    height: 650px;
    box-shadow: 10px 10px 30px 0px rgba(48, 0, 59, 0.326);


    .title{
        color: #9207ff  ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 6em;
        font-weight: bolder;
        padding: 20px;
        padding-left: 70px;
        background-color: rgb(255, 255, 255);
        
    }
    .boloop{
        display: flex;
        justify-content: space-around;
        
    }
    .bolo1{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .bolo1 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .bolo1 img{
        width: 50%;
        border-radius: 10%;
    }
    .bolo1 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }




    .bolo2{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .bolo2 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .bolo2 img{
        width: 63%;
        border-radius: 10%;
    }
    .bolo2 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }




    .bolo3{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .bolo3 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .bolo3 img{
        width: 50%;
        border-radius: 10%;
    }
    .bolo3 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }
}



















.tortas{
    margin: 100px;
    background-color: rgb(232, 166, 250);
    height: 600px;
    box-shadow: 10px 10px 30px 0px rgba(48, 0, 59, 0.326);


    .title{
        color: #9207ff  ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 6em;
        font-weight: bolder;
        padding: 20px;
        padding-left: 70px;
        background-color: rgb(255, 255, 255);
        
    }
    .tortasop{
        display: flex;
        justify-content: space-around;
        height: 70%;
    }
    .torta1{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .torta1 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .torta1 img{
        width: 65%;
        border-radius: 10%;
    }
    .torta1 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }




    .torta2{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .torta2 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .torta2 img{
        width: 40%;
        border-radius: 10%;
    }
    .torta2 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }


    .torta3{
        margin: 40px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        align-items: center;
        text-align: center;
        border-radius: 5%;
    }
    .torta3 .sabor{
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin: 10px;
        color: rgb(71, 0, 75);
    }
    .torta3 img{
        width: 40%;
        border-radius: 10%;
    }
    .torta3 .preco{
        color: rgb(55, 0, 73);
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
    }
}




























footer{
    height: 20vh;
    width: 100vw;
    background-color: #9207ff;
    display: flex;
    justify-content: center;
    align-items: center;


    p{
        color: white;
        font-size: 2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow Bold', sans-serif;
    }
}