*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.topo{
    background-color: #144194;
    text-align: center;
    padding: 12px 0px 8px 0px;
    box-shadow: 20px 20px 20px 20px black;
    height: 45px;
}

.logo-md{
    height: 30px;
}

.hero{
    height: 690px;
    width: 100%;
    background-image:url(imgs/machu-picchu-61-c.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
}

.peru{
    font-size: 20px;
}

.title{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.logo{
    color: white;
    font-size: 28px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.bottons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 310px;
}

.bottons li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}

.bottons li p img{
    width: 20px;
}

.bottons li:hover{
    border: 3px solid #0f49b4;
    box-shadow: 0px 0px 20px 2px #0f49b449;
}

.caminho{
    color: gray;
    margin-left: 2vw;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    min-width: 600px;
    margin-top: 20px;
}

.molher{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}

.molher img{
    width: 200px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    border-radius: 20px;
}

.nome-cami{
    color: rgb(97, 97, 97);
    margin: 15px 0px 0px 5px;
    font-size: 18px;
    font-weight: bold;
}

.resumo-cami{
    width: 200px;
    color: gray;
    margin: 15px 0px 0px 5px;
    font-size: 16px;
}

.texto{
    border: 1px solid black;
    padding: 20px;
    margin: 5px;;
}

.main-text{
    width: 900px;
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: lighter;
}

.h1{
    font-size: 35px;
    font-weight: bold;
}

.machu-picchu2{
    width: 850px;
    margin: auto;
    display: block;
}

.lista{
    width: 900px;
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: lighter;
    margin-left: 30px;
}
