*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    
}

.topo{
    background-color: #144194;
    text-align: center;
    padding: 12px 0px 8px 0px;
    box-shadow: 20px 20px 20px 20px black;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image:url(imgs/machu-picchu-61-c.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
}

.peru{
    font-size: 30px;
}

.title{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-align: center;
    margin: auto;
    margin-top: 6%;
}

.logo{
    color: white;
    font-size: 28px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.bottons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottons li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 90px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 10px;
}

.bottons li:hover{
    border: 3px solid #0f49b4;
    box-shadow: 0px 0px 20px 2px #0f49b449;
}

.caminho{
    color: gray;
    margin-left: 2vw;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    min-width: 600px;
    margin-top: 20px;
}

.molher{
    border: 1px solid black;
    padding: 110px;
    margin: 5px;
}

.texto{
    border: 1px solid black;
    padding: 900px 400px;
    margin: 5px;;
}