*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

.tudo{
    justify-content: center;
    align-items: center;
}


a{
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0e3d94;
    height: 8vh;
    text-align: center;
    padding: 6vh 2vw;
}

nav > img{
    width: 3vw;
    background-color: rgb(59, 46, 173);
    border-radius: 50%;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li{
    padding: 2vh;
}

.nav-list li:hover{
    background-color: rgb(41, 84, 202);
    padding: 2vh;
}

.app{
    background-color: rgb(41, 84, 202);
}




.secao1{
    background-color: #0F3374;
    padding: 4em 0em 10em 0em;
}

.dois_quadros{
    display: flex;
    justify-content: center;
}

.tres_quadros{
    display: flex;
    justify-content: center;
}

.primeiro_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
    display: flex;
    flex-direction: column;
}

.primeiro_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.img1 img{
    width: 100%;
    border-radius: .8em .8em 0 0;
}

.primeiro_quadro h1{
    font-size: 1.2em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.primeiro_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 0em 1em;
    color: rgb(127, 127, 127);
}

.segundo_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
    display: flex;
    flex-direction: column;
}

.segundo_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.segundo_quadro h1{
    font-size: 1.2em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.segundo_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
    
}

.terceiro_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.terceiro_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.terceiro_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.terceiro_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}

.quarto_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.quarto_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.quarto_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.quarto_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}

.quinto_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.quinto_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.quinto_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.quinto_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}
.quarto_quadro{
    background-color: rgb(255, 255, 255);
}
.quinto_quadro{
    background-color: rgb(255, 255, 255);
}

.primeiro_quadro, .segundo_quadro{
    margin: 1em;
    height: 29.5em;
    width: 38em;
}

.terceiro_quadro, .quarto_quadro, .quinto_quadro{
    margin: 1em;
    height: 23em;
    width: 25em;
}

.primeiro_quadro, .segundo_quadro, .terceiro_quadro, .quarto_quadro, .quinto_quadro{
    border-radius: .8em;
}

















.secao2{

    display: flex;
    background-color: rgba(255, 0, 0, 0);
    justify-content: center;
    margin: 5em 1em 5em 1em;   
}

.bloco1, .bloco2, .bloco3{

    width: 20vw;
    height: 20vw;
    justify-content: center;
    background-color: aqua; /* Cor de fundo definida para todos os blocos */
    border-radius: 10px;
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.219);
    margin: 0em 3em;

}

.bloco1{
    background-color: rgb(255, 255, 255);

}
.bloco1 img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}
.bloco1 p{
    font-size: 1.1vw;
    margin: .5em;
}
.bloco1 .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}
.bloco1 .infos p{
    font-size: .7vw;
}





.bloco2{
    background-color: rgb(255, 255, 255);

}
.bloco2 img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}
.bloco2 p{
    font-size: 1.1vw;
    margin: .5em;
}
.bloco2 .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}
.bloco2 .infos p{
    font-size: .7vw;
}


.bloco3{
    background-color: rgb(255, 255, 255);

}
.bloco3 img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}
.bloco3 p{
    font-size: 1.1vw;
    margin: .5em;
}
.bloco3 .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}
.bloco3 .infos p{
    font-size: .7vw;
}



.secao3{
    background-color: rgb(225, 225, 225);
    padding: 3em 0em;
}

.viaje{
    font-size: 2em;
    font-weight: bolder;
    margin: 1vh 3vw;
    padding-top: 3vh;
}

.resolva{
    font-size: 1.2em;
    color: blue;
    font-weight: bold;
    margin: 1vh 3vw;
}


.bt{
    display: flex;
    justify-content: center;
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6, .bt7, .bt8{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 2%;
    width: 10%;
    padding: 2vh 0vh;
    border-radius: .6em;
}


.bt1 div img, .bt2 div img, .bt3 div img, .bt4 div img, .bt5 div img, .bt6 div img, .bt7 div img, .bt8 div img{
    width: 4em;
    margin: 1em 0em;
}














footer{
    height: 25em;
    background-color: #0c3683;
}

.bottonsf{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 80px;
}

.bottonsf li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 2000px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}
.bottonsf li p img{
    width: 30px;
}

.bottonsf li a{
    text-decoration: none;
    color: black;
}

.bottonsf li:hover{
    border: 1px solid #696969;
    box-shadow: 0px 0px 50px 2px #39393923;
}

.topicos{
    display: flex;
    justify-content: center;
}

.guia-d{
    background-color: rgba(255, 255, 0, 0);
    width: 400px;
    font-size: 1.2em;
    text-align: justify;
    color: white;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.guia-d img{
    width: 380px;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.melhores-d{
    background-color: rgba(255, 0, 0, 0);
    width: 400px;
    font-size: 1.2em;
    text-align: justify;
    color: white;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.melhores-d img{
    width: 280px;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.acessos ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.acessos ul li{
    margin: 0px 20px 20px 20px;
    font-weight: bolder;
    color: white;
}
.acessos ul li a{
    text-decoration: none;
    color: white;
}

.redes-sociais{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.redes-sociais ul{
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.redes-sociais ul li{
    margin: 10px;
}

.redes-sociais ul li a img{

    background-color: #ffffff;
    width: 50px;    
    border-radius: 50%;
    padding: 10px;

}

.copyright{
    text-align: center;
    margin: 20px 20px 0px 20px;
    color: white;
}

