*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg{
    background-color: rgb(197, 197, 197);
}
main{
    display: flex;
    justify-content: center;
    
}
.left-side{
    background-color: rgb(0, 0, 158);
    height: 80em;
    width: 15em;
    margin: 2em 0em;
}

.right-side{
    background-color: rgb(255, 255, 255);
    height: 80em;
    width: 30em;
    margin: 2em 0em;
}