<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PÁGINA INICAL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- 
    LINK DO FIGMA
    https://www.figma.com/design/AjPNgOvrQqiTSMXmTurgcY/Site-da-Pra%C3%A7a-da-Paz-Entre-os-Povos?node-id=0-1&node-type=canvas&t=UnTLF8VhDdmP8kjy-0
    -->
    <nav class="navbar navbar-expand-lg nav d-flex justify-content-center">
      <div class="container-fluid nav-size m-0 ">
        <a class="ms-5 d-none d-lg-block navbar-brand col-6 col-md-4" href="#">
          <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid icon" src="imgs/icon.png" alt="Icon">
            <img class="img-fluid icon" src="imgs/icon-text.png" alt="Icon Text">
          </div>
        </a>
        <form class="form col-4 justify-content-center" role="search">
          <input class="pesquisa me-2 form-pesquisa" type="search" placeholder="Pesquise" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      
        <div class="collapse navbar-collapse col-4  justify-content-evenly nav-btns" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><img class="icon-nav" src="imgs/icon-nav/Vector.svg" alt="Ícone modo claro e escuro"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="icon-nav" src="imgs/icon-nav/ph_text-a-underline.svg" alt="Ícone Letra mais fina, ou menor?"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <img class="icon-nav" src="imgs/icon-nav/ph_text-a-underline-bold.svg" alt="" > <img class="icon-navb" src="imgs/icon-nav/Line-7.svg" alt="Ícone letra mais gorssa ou maior? e Barra reta"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <img class="icon-nav" src="imgs/icon-nav/Group-15.svg" alt="Ícone pessoinha"></a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="icon-navf" src="imgs/icon-nav/selecionar-idioma.svg" alt="Ícone mudar idioma"></a>
            </li>
          </ul>  
        </div>
        <a class="d-block d-lg-none navbar-brand col-6 col-md-4 d-flex" href="#">
          <img class="img-fluid icon" src="imgs/icon.png" alt="Icon">
          <img class="img-fluid icon" src="imgs/icon-text.png" alt="Icon Text">
        </a>

        <ul class="navbar-nav mb-2 mb-lg-0 d-block d-lg-none me-4 ">
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="icon-navf" src="imgs/icon-nav/selecionar-idioma.svg" alt="Ícone mudar idioma"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="justify-content-center d-flex div-form-mobile d-lg-none pb-3">
      <form class="form-mobile col-12 d-flex justify-content-center" role="search">
        <input class="pesquisa me-2 form-pesquisa" type="search" placeholder="Pesquise" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>

    <nav class="navbar navbar-expand-md sticky-top navbar-links" data-bs-theme="dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
              <li class="nav-item"><a class="nav-link" href="index.html">INÍCIO</a></li>  
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="sobre-praca.html">A PRAÇA</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="acervo.html">ACERVO</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="acontecimentos.html">ACONTECIMENTOS</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="espacos.html">ESPAÇOS</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="visitacao.html">VISITAÇÃO</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="contato.html">CONTATO</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="menu-mobile navbar nav-mobile d-lg-none">
      <div class="container-fluid">
        <div class="d-flex">
          <button class="navbar-toggler btn-menu m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-light ms-2" href="#">MENU</a>
        </div>
        <div class="offcanvas offcanvas-end menu-mobile-opened" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">INÍCIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre-praca.html">A PRAÇA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="acervo.html">ACERVO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="acontecimentos.html">ACONTECIMENTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="espacos.html">ESPAÇOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="visitacao.html">VISITAÇÃO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contato.html">CONTATO</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

























    <main class="container">
      <div>
        <div class="row mt-5">
          <div class="pt1 col-12 col-xl-6 praca">
            <img class="img-fluid praca-img" src="imgs/img-sobre.jpg" alt="">
          </div>
          <div class="pt2 col-12 col-xl-5">
            <h2 class="mt-4 mt-sm-4 mb-3">Sobre a praça</h2>
            <p class="">A Praça Etnobotânica é um espaço dedicado à preservação e celebração dos saberes tradicionais afro-brasileiros e indígenas. Neste local, a rica diversidade de plantas nativas é apresentada não apenas como elementos naturais, mas como portadoras de histórias e conhecimentos ancestrais. As espécies vegetais, cuidadosamente cultivadas, são reconhecidas por seus usos medicinais, rituais e alimentares, refletindo a profunda conexão entre as comunidades tradicionais e a natureza.</p>
          </div>
        </div>
        <div class="horario mt-4 d-flex">
          <div>
            <img src="imgs/clock.svg" alt="">
          </div>
          <div class="ms-3">
            <p><strong>Horários de funcionamento:</strong></p>
            <P>De Segunda à Sexta das  8H00 - 17H00.</P>
          </div>
        </div>
      </div>
      <div class="espacos-praca">
        <h2 class="mt-5 mb-3 fs-1">Espaços da praça</h2>
        
        
        <div class="d-flex flex-wrap justify-content-center">
          
          
          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/jardim.jpg" alt="">
            <h3 class="text-center mt-2">Espaço Jardim</h3>
          </div>

          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/jardim-sensorial.jpg" alt="">
            <h3 class="text-center">Jardim Sensorial</h3>
          </div>

          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/espaco-da-conexao.jpg" alt="">
            <h3 class="text-center">Espaço da Conexão</h3>
          </div>

          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/espaco-do-cuidado.jpg" alt="">
            <h3 class="text-center">Espaço do Cuidado</h3>
          </div>
          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/espaco-paz.jpg" alt="">
            <h3 class="text-center">Espaço Circulo da Paz</h3>
          </div>
          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/espaco-afro.jpg" alt="">
            <h3 class="text-center">Espaço Aláfia/nhy-rõ</h3>
          </div>
          <div class="espaco">
            <img class="img-espaco" src="imgs/espacos-praca/espaco-coqueiral.jpg" alt="">
            <h3 class="text-center">Espaço Coqueiral</h3>
          </div>
          
        </div>
      </div>
    </main>

    <main class="container-fluid">
      <div class="mais-info mt-5">
        <div class="mais-info-content">
          <h2 class="p-5 pb-3 mb-3 fs-1">Mais informações</h2>
          <p class="p-5 pt-0 pb-3 fs-5">Os links de acesso rápido irão te ajudar a navegar com mais facilidade no nosso site, basta clicar e você será redirecionado para onde deseja .</p>

          <!--NESSA PARTE, FALTA O MAPEAMENTO DE IMAGEM NA IMAGEM-->
          <div class="icones-acesso-rapido"><img src="imgs/icones-mais-info.png" alt="Ícones -links de acesso rápido" class="icones-acesso-rapido-img"></div>
        </div>
      </div>
      <div class="faq mt-5">
        <h1 class="faq-title">F A Q</h1>
        <h2 class="subtitle">Perguntas mais frequentes a respeito da praça.</h2>
        <div class="d-flex justify-content-center mt-5 ">
          <div class="faq-container d-flex justify-content-center rounded-5">
            <div class="faq-questions-div">
              <div class="faq-question rounded-3 ">
                <p class="fs-5">O que é a praça da paz entre os povos?</p>
                <span class="faq-question-circle"><img src="imgs/faq-seta.svg" alt=""></span>
              </div>
              <div class="faq-question rounded-3 ">
                <p class="fs-5">Há estacionamento disponível?</p>
                <span class="faq-question-circle"><img src="imgs/faq-seta.svg" alt=""></span>
              </div>
              <div class="faq-question rounded-3 ">
                <p class="fs-5">A praça é acessível para pessoas deficientes?</p>
                <span class="faq-question-circle"><img src="imgs/faq-seta.svg" alt=""></span>
              </div>
              <div class="faq-question rounded-3 ">
                <p class="fs-5">O que é a praça da paz entre os povos?</p>
                <span class="faq-question-circle"><img src="imgs/faq-seta.svg" alt=""></span>
              </div>
              <div class="faq-question rounded-3 ">
                <p class="fs-5">O que é a praça da paz entre os povos?</p>
                <span class="faq-question-circle"><img src="imgs/faq-seta.svg" alt=""></span>
              </div>
            </div>
            <!-- <img src="imgs/planta.png" alt="" class="faq-planta"> --> 
          </div>
        </div>
      </div>
    </main>


    <main class="container">
      <div class="como-chegar">


        <div class="d-flex como-chegar-title align-items-center mb-4">
          <img src="imgs/local-icon.png" alt="Icone local" class="img-fluid">
          <p class="m-0 d-flex align-middle fs-1 fw-bold   ms-2">Como chegar</p>
        </div>

        <div class="local-img-div">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.2800866014272!2d-35.165509725901735!3d-6.35778086219561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b281b76d43b843%3A0x9e8e30a410d04552!2sIFRN%20Campus%20Canguaretama!5e0!3m2!1spt-BR!2sbr!4v1733148607395!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="parceiros  mt-5">
        <div class="d-flex align-middle ms-4">
          <img src="imgs/parceiros-icone.svg" alt="Icone parceiros" class="img-fluid">
          <h2 class="title ms-3 m-0 fs-1">Parceiros</h2>
        </div>
        <div class="parceiros-img-div d-flex flex-wrap justify-content-center mt-4">
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros1.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros2.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros3.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros4.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros5.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros6.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
          <div class="parceiro-img"><img src="imgs/parceiros/parceiros7.jpg" alt="Imagem parcieros" class="img-fluid rounded-circle"></div>
        </div>
      </div>

      <a href="#" class="text-decoration-none">
        <div class="voltar-inicio d-flex justify-content-center mt-5 mb-5 ms-3 me-3 row d-flex justify-content-center">
          <img src="imgs/voltar-icon-left.svg" alt="Planta" class="img-fluid col-3 col-md-2">
          <div class="d-flex justify-content-center row col-6 col-md-3">
            <p class="voltar-text d-flex text-center justify-content-center align-items-center col mb-0 fs-md-1 ">Ir para o ínicio</p>
          </div>
          <img src="imgs/voltar-icon-right.svg" alt="Planta" class="img-fluid col-3 col-md-2">
        </div>
      </a>

    </main>

































    <!-- Newsletter acima do rodapé -->
    <div class="newsletter-container container mt-5">
      <div class="container">
          <div class="row text-center">
              <div class="col-12 mb-3">
                  <p class="mb-0">Assine nossa newsletter e receba as últimas novidades da praça da paz entre os povos</p>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <form class="row">
                      <div class="col-7 p-0">
                          <input type="email" class="form-control" placeholder="Digite seu e-mail" required>
                      </div>
                      <div class="col-5 p-0">
                          <button type="submit" class="btn btn-custom w-100">Inscrever-se</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    <!-- Rodapé -->
    <footer class="footer-container">
      <div class="container">
          <div class="row text-center text-md-start">
              <!-- Logo -->
              <div class="col-md-3 mb-4 mb-md-0">
                    <div class="footer-logo">
                      <img src="imgs/main-logo.png" alt="" class="img-footer img-fluid">
                    </div>
              </div>
              <!-- Links institucionais -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>INSTITUCIONAL</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Quem somos</a></li>
                      <li><a href="#">Normas e Condutas</a></li>
                      <li><a href="#">Parceiros</a></li>
                      <li><a href="#">Projetos</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
              <!-- Contatos -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>CONTATOS</h5>
                  <ul class="list-unstyled">
                      <li><i class="bi bi-telephone-fill me-2"></i>(84) 4005-4114</li>
                      <li><i class="bi bi-envelope-fill me-2"></i><a href="mailto:diac.cang@ifrn.edu.br">diac.cang@ifrn.edu.br</a></li>
                      <li><i class="bi bi-link-45deg me-2"></i><a href="http://portal.ifrn.edu.br/campus/canguaretama" target="_blank">portal.ifrn.edu.br</a></li>
                      <li><i class="bi bi-whatsapp me-2"></i>(84) 00000-0000</li>
                  </ul>
              </div>
              <!-- Redes sociais -->
              <div class="col-md-3 text-center text-md-start">
                  <h5>Nos siga nas redes sociais</h5>
                  <div class="social-icons">
                      <a href="#" class="bi bi-facebook"></a>
                      <a href="#" class="bi bi-youtube"></a>
                      <a href="#" class="bi bi-instagram"></a>
                      <a href="#" class="bi bi-linkedin"></a>
                  </div>
              </div>
          </div>
          <!-- Copyright -->
          <div class="row mt-4">
              <div class="col-12 text-center copyright">
                  <p>© Copyright 2024 Praça da Paz Entre os Povos. Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>