<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PÁGINA INICAL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-sobre.css">
  </head>
  <body>
    <!-- 
    LINK DO FIGMA
    https://www.figma.com/design/AjPNgOvrQqiTSMXmTurgcY/Site-da-Pra%C3%A7a-da-Paz-Entre-os-Povos?node-id=0-1&node-type=canvas&t=UnTLF8VhDdmP8kjy-0
    -->
    <nav class="navbar navbar-expand-lg nav d-flex justify-content-center">
      <div class="container-fluid nav-size m-0 ">
        <a class="ms-5 d-none d-lg-block navbar-brand col-6 col-md-4" href="#">
          <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid icon" src="imgs/icon.png" alt="Icon">
            <img class="img-fluid icon" src="imgs/icon-text.png" alt="Icon Text">
          </div>
        </a>
        <form class="form col-4 justify-content-center" role="search">
          <input class="pesquisa me-2 form-pesquisa" type="search" placeholder="Pesquise" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      
        <div class="collapse navbar-collapse col-4  justify-content-evenly nav-btns" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><img class="icon-nav" src="imgs/icon-nav/Vector.svg" alt="Ícone modo claro e escuro"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="icon-nav" src="imgs/icon-nav/ph_text-a-underline.svg" alt="Ícone Letra mais fina, ou menor?"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <img class="icon-nav" src="imgs/icon-nav/ph_text-a-underline-bold.svg" alt="" > <img class="icon-navb" src="imgs/icon-nav/Line-7.svg" alt="Ícone letra mais gorssa ou maior? e Barra reta"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <img class="icon-nav" src="imgs/icon-nav/Group-15.svg" alt="Ícone pessoinha"></a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#"><img class="icon-navf" src="imgs/icon-nav/selecionar-idioma.svg" alt="Ícone mudar idioma"></a>
            </li>
          </ul>  
        </div>
        <a class="d-block d-lg-none navbar-brand col-6 col-md-4 d-flex" href="#">
          <img class="img-fluid icon" src="imgs/icon.png" alt="Icon">
          <img class="img-fluid icon" src="imgs/icon-text.png" alt="Icon Text">
        </a>

        <ul class="navbar-nav mb-2 mb-lg-0 d-block d-lg-none me-4 ">
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="icon-navf" src="imgs/icon-nav/selecionar-idioma.svg" alt="Ícone mudar idioma"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="justify-content-center d-flex div-form-mobile d-lg-none pb-3">
      <form class="form-mobile col-12 d-flex justify-content-center" role="search">
        <input class="pesquisa me-2 form-pesquisa" type="search" placeholder="Pesquise" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>

    <nav class="navbar navbar-expand-md sticky-top navbar-links" data-bs-theme="dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
              <li class="nav-item"><a class="nav-link" href="index.html">INÍCIO</a></li>  
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="sobre-praca.html">A PRAÇA</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="acervo.html">ACERVO</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="acontecimentos.html">ACONTECIMENTOS</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="espacos.html">ESPAÇOS</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="visitacao.html">VISITAÇÃO</a></li>
              <li class="nav-item nav-link">|</li>
              <li class="nav-item"><a class="nav-link" href="contato.html">CONTATO</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="menu-mobile navbar nav-mobile d-lg-none">
      <div class="container-fluid">
        <div class="d-flex">
          <button class="navbar-toggler btn-menu m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-light ms-2" href="#">MENU</a>
        </div>
        <div class="offcanvas offcanvas-end menu-mobile-opened" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">INÍCIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="sobre-praca.html">A PRAÇA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="acervo.html">ACERVO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="acontecimentos.html">ACONTECIMENTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="espacos.html">ESPAÇOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="visitacao.html">VISITAÇÃO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contatos.html">CONTATOS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>














    










    <main class="container">

        <div>
            <h2 class="fs-1 mt-4 mt-sm-5 mb-3">BEM VINDO(A)!</h2>
            <p class="fs-2 text-succsess text-justify">A Praça da Paz entre os Povos é um lugar onde natureza, cultura e comunidade se encontram em perfeita harmonia.</p>
        </div>
        <div class="mt-5">
            <h2 class="mt-4 mt-sm-4 mb-3">A praça da paz entre os povos</h2>
            <p class="fs-3 text-succsess text-justify">A Praça da Paz entre os Povos, no Campus Canguaretama do IFRN, é um jardim composto por coleções de plantas vivas, em sua maioria, relacionadas a diversos usos culturais afro-brasileiros e indígenas. Compreende uma área significativa do campus que vai além do espaço no qual atualmente visualizamos banquinhos e mesa em alvenaria com mosaicos de cerâmica</p>
            <img src="imgs/img-sobre.jpg" alt="Ícones links de acesso rápido" class="mt-3 w-100 img-fluid img-sobre">
        </div>
        <div class="mt-5">
            <h2 class="mt-4 mt-sm-4 mb-3">Participantes deste projeto</h2>
            <p class="fs-3 text-succsess text-justify">A construção da Praça da Paz entre os Povos conta com a participação de servidores (docentes, técnico-administrativos e terceirizados), alunos do Curso de Licenciatura em Educação do Campo (LEdoC) e do  Curso Superior de Tecnologia em Gestão de Turismo, e de membros das comunidades indígenas e quilombolas próximas ao Campus Canguaretama. Moradores do município de Canguaretama, incluindo o Acampamento José Martí, também têm contribuído com a doação de mudas.</p>
        </div>
        <div class="mt-5">
            <h2 class="mt-4 mt-sm-4 mb-3">Curiosidades sobre as praça</h2>
            <p class="fs-3 text-succsess text-justify">a Praça foi rebatizada de “Praça da Macumba”. Qual seria a origem desse apelido? Uma primeira suposição seria a existência de uma cápsula do tempo depositada no ano de 2016 pela primeira turma do integrado em eventos, no entorno dos referidos banquinhos e muito semelhante ao formato das lápides encontradas em cemitérios, fato que aflora a imaginação sobre “o que” ou “quem” estaria ali “sepultado”. Uma segunda possibilidade para o este apelido "Praça da Macumba" está ligada às conotações negativas historicamente associadas às culturas indígenas e afro-brasileiras.</p>
        </div>

    </main>

































    <!-- Newsletter acima do rodapé -->
    <div class="newsletter-container container mt-5">
      <div class="container">
          <div class="row text-center">
              <div class="col-12 mb-3">
                  <p class="mb-0">Assine nossa newsletter e receba as últimas novidades da praça da paz entre os povos</p>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <form class="row">
                      <div class="col-7 p-0">
                          <input type="email" class="form-control" placeholder="Digite seu e-mail" required>
                      </div>
                      <div class="col-5 p-0">
                          <button type="submit" class="btn btn-custom w-100">Inscrever-se</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    <!-- Rodapé -->
    <footer class="footer-container">
      <div class="container">
          <div class="row text-center text-md-start">
              <!-- Logo -->
              <div class="col-md-3 mb-4 mb-md-0">
                    <div class="footer-logo">
                      <img src="imgs/main-logo.png" alt="" class="img-footer img-fluid">
                    </div>
              </div>
              <!-- Links institucionais -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>INSTITUCIONAL</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Quem somos</a></li>
                      <li><a href="#">Normas e Condutas</a></li>
                      <li><a href="#">Parceiros</a></li>
                      <li><a href="#">Projetos</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
              <!-- Contatos -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>CONTATOS</h5>
                  <ul class="list-unstyled">
                      <li><i class="bi bi-telephone-fill me-2"></i>(84) 4005-4114</li>
                      <li><i class="bi bi-envelope-fill me-2"></i><a href="mailto:diac.cang@ifrn.edu.br">diac.cang@ifrn.edu.br</a></li>
                      <li><i class="bi bi-link-45deg me-2"></i><a href="http://portal.ifrn.edu.br/campus/canguaretama" target="_blank">portal.ifrn.edu.br</a></li>
                      <li><i class="bi bi-whatsapp me-2"></i>(84) 00000-0000</li>
                  </ul>
              </div>
              <!-- Redes sociais -->
              <div class="col-md-3 text-center text-md-start">
                  <h5>Nos siga nas redes sociais</h5>
                  <div class="social-icons">
                      <a href="#" class="bi bi-facebook"></a>
                      <a href="#" class="bi bi-youtube"></a>
                      <a href="#" class="bi bi-instagram"></a>
                      <a href="#" class="bi bi-linkedin"></a>
                  </div>
              </div>
          </div>
          <!-- Copyright -->
          <div class="row mt-4">
              <div class="col-12 text-center copyright">
                  <p>© Copyright 2024 Praça da Paz Entre os Povos. Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>