
.card-custom {
    background-color: #F4F4DC; /* Fundo do card */
    border: 1px solid #d4d4c4;
    border-radius: 10px;
    padding: 15px;
    max-width: 900px;
    
}

.card-custom img {
    border-radius: 10px;
    object-fit: cover;
    width: 2px;
    max-height: 600px; /* Limita a altura da imagem */
    max-width: 600px;
}

.card-custom .btn-saiba-mais {
    color: #4caf50; /* Cor do texto */
    font-weight: bold;
    text-decoration: none; /* Remove o sublinhado */
    display: inline-flex;
    align-items: center;
}

.card-custom .btn-saiba-mais:hover {
    color: #388e3c; /* Cor ao passar o mouse */
}

.card-custom .btn-saiba-mais svg {
    margin-left: 5px;
}

