        /* Personalização */
        .card-custom {
            background-color: #d5e8d4;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .card-custom img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 180px;
            object-fit: cover;
        }

        .card-title {
            color: #245724;
            font-weight: bold;
        }

        .btn-saiba-mais {
            background-color: #ffffff;
            color: #245724;
            border: 2px solid #245724;
            border-radius: 25px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .btn-saiba-mais:hover {
            background-color: #245724;
            color: #ffffff;
            border-color: #245724;
        }