*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg{
    background-color: rgb(197, 197, 197);
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    
}
.left-side{
    background-color: rgb(0, 0, 158);
    height: 50em;
    width: 18em;
    margin: 2em 0em;
}

.left-side .name{
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: bold;
    background-color: rgba(153, 205, 50, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left-side .formacao{
    background-color: rgb(60, 60, 182);
    padding: .5em;
    color: white;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left-side img{
    width: 15em;
    margin: auto;
    display: flex;
    margin: 1em;
}

.left-side .id{
    background-color: rgb(60, 60, 182);
    padding: .5em;
    color: white;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.adress p{
    color: white;
    font-size: .9em;
    font-weight: lighter;
    margin: 0.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-side .ctt{
    background-color: rgb(60, 60, 182);
    padding: .5em;
    color: white;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.infos p{
    color: white;
    font-size: .9em;
    font-weight: lighter;
    margin: 0.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-side{
    background-color: rgb(255, 255, 255);
    height: 50em;
    width: 30em;
    margin: 2em 0em;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    margin: 0.3em;
}

.text{
    color: black;
    font-size: .8em;
    margin: .8em 0.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.lattes{
    color: rgb(155, 155, 155);
    text-align: right;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    margin: 0.2em 0.8em;
}

.lattes a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}

.sub-tittle{
    margin: .5em 0 0 0;
    background-color: lightgrey;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 .2em .2em;
}

li{
    color: black;
    font-size: .8em;
    margin: .8em .8em .8em 1.9em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.habilidades li{
    color: rgb(48, 48, 48);
    font-size: .8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: .8;
}