*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

   


.tudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao1{
    background-color: rgb(60, 0, 255);
    width: 100vw;
}

.dois_quadros{
    display: flex;
    justify-content: center;
}

.tres_quadros{
    display: flex;
    justify-content: center;
}



.primeiro_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
    display: flex;
    flex-direction: column;
}

.primeiro_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.img1 img{
    width: 100%;
    border-radius: .8em .8em 0 0;
}

.primeiro_quadro h1{
    font-size: 1.2em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.primeiro_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 0em 1em;
    color: rgb(127, 127, 127);
}







.segundo_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
    display: flex;
    flex-direction: column;
}

.segundo_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.segundo_quadro h1{
    font-size: 1.2em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.segundo_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
    
}

.segundo_quadro .infos p{

}
















.terceiro_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.terceiro_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.terceiro_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.terceiro_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}







.quarto_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.quarto_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.quarto_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.quarto_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}











.quinto_quadro{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.518);
}

.quinto_quadro:hover{
    box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.518);
}

.quinto_quadro h1{
    font-size: 1.1em;
    margin: 1em;
    color: rgb(58, 58, 58);
}

.quinto_quadro .infos{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color: rgb(127, 127, 127);
}











.quarto_quadro{
    background-color: rgb(255, 255, 255);
}
.quinto_quadro{
    background-color: rgb(255, 255, 255);
}

.primeiro_quadro, .segundo_quadro{
    margin: 1em;
    height: 29.5em;
    width: 38em;
}

.terceiro_quadro, .quarto_quadro, .quinto_quadro{
    margin: 1em;
    height: 23em;
    width: 25em;
}

.primeiro_quadro, .segundo_quadro, .terceiro_quadro, .quarto_quadro, .quinto_quadro{
    border-radius: .8em;
}












